body{

font-family:Poppins,sans-serif;

background:#f4f7fb;

padding:50px;

}

.container{

max-width:1100px;

margin:auto;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,.08);

}

h1{

margin-bottom:30px;

color:#2563eb;

}

table{

width:100%;

border-collapse:collapse;

}

th{

background:#2563eb;

color:white;

padding:15px;

}

td{

padding:15px;

border-bottom:1px solid #ddd;

}

tr:hover{

background:#f8fafc;

}